body {
  font-family: 'Orbitron', sans-serif;
}

/* Ou só nos títulos */
h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
}

.w3-sidebar {
  background-color: rgba(0, 0, 0, 0); /* Sidebar transparente */
  backdrop-filter: blur(1px); /* Opcional: efeito vidro */
  width: 100px;
}



#inicio {
  height: 100vh;
  background: url('imagens/fundo.png') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  scroll-behavior: smooth;
}

.ativo {
  background-color: #00b894 !important;
  color: white !important;
}



/* Quando a tela for menor que 600px (celular) */
@media screen and (max-width: 600px) {
  .w3-sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 9999;
  }
  .w3-sidebar .w3-bar-block {
    display: flex;
    flex-direction: row;
  }
  .w3-sidebar .w3-bar-item {
    flex: none;
    display: inline-block;
    padding: 10px 15px;
  }
}

/*TABLETS*/
@media screen and (max-width: 768px) {
 .w3-sidebar {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 9999;
  }
  .w3-sidebar .w3-bar-block {
    display: flex;
    flex-direction: row;
  }
  .w3-sidebar .w3-bar-item {
    flex: none;
    display: inline-block;
    padding: 10px 15px;
  }
}

